<footer role="contentinfo" class="footer">
  <p class="text-center links">
        <a href="http://www.websterfolks.com" target="_blank">WebsterFolks.com</a>
        <span class="seprator">/</span>
        <a href="http://www.namesterwhois.com" target="_blank">NamesterWhois.com</a>
        <span class="seprator">/</span>
        <a href="http://sniipy.com" target="_blank">Sniipy.com</a>
  </p>
  <p class="pull-left"><small>Copyright © 2012 - {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p class="pull-right"><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small>
        <small>Inspired from <a href="http://hitenism.com/">Hiten Shah</a></small></p>
</footer>
