<article class="post">

    <h2 class="title">Get my email newsletter</h2>
        <div class="the-content">
            <br>
            <p>My name is Mandeep Singh and I’m an web developer and an entrepreneur. I develop, desgin and sell scripts as well as websites (sometimes). My companies are <a href="http://www.websterfolks.com" >WebsterFolks</a> and <a href="#">MicroWorkr</a>.</p>

            <p>I have had a ton of failures, some success and its still going on. I just want to help other developers and entrepreneurs.</p>



            <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://websterfolks.us4.list-manage1.com/subscribe/post?u=d20ef0f2d44b0fed0db91c6c2&amp;id=ab28fca01c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_d20ef0f2d44b0fed0db91c6c2_ab28fca01c" value=""></div>
    <p>Subscribe to know the insights of running <br>a business and some helpful php code snippets</p>

  <input type="text" value="" name="FNAME" class="email" id="mce-FNAME" placeholder="first name" required>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
<br>

<em>Need help right now?</em><br>
<a class="btn btn-mini" href="mailto:mandeep@websterfolks.com?subject=hello&nbsp;email me">email me</a> <em>&nbsp; OR &nbsp;</em>
<div class="tweet-me"><a href="https://twitter.com/intent/tweet?screen_name=meSingh9" class="twitter-mention-button" data-size="large" data-related="meSingh9" data-dnt="true">Tweet to @meSingh9</a></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>

<!--End mc_embed_signup-->
            <br>

            <p>Words I live by: “<em>You will get all you want in life if you help enough other people get what they want.</em>” Zig Ziglar {<a href="http://ctt.ec/8AnF1" target="_blank">Tweet This Quote</a>}</p>
            <hr>

    </div><!-- the-content -->
</article>