{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="http://twitter.com/meSingh9" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

}}

<li class="drawer-list-item">
  <a href="{{@blog.url}}/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://www.websterfolks.com/" data-pjax>
    <i class="fa fa-laptop"></i>WebsterFolks.com
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://www.namesterwhois.com/" data-pjax>
    <i class="fa fa-rocket"></i>NamesterWhois.com
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://www.sniipy.com/" data-pjax>
    <i class="fa fa-code"></i>Sniipy.com
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://www.ranknator.com/" data-pjax>
    <i class="fa fa-bar-chart-o"></i>Ranknator.com
  </a>
</li>
<li class="drawer-list-item">
  <a href="mailto:mandeep@websterfolks.com" data-pjax>
    <i class="fa fa-comments-o"></i>Say Hello!
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
<li class="drawer-list-item">
  <a href="https://twitter.com/meSingh9" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://github.com/meSingh" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://www.facebook.com/meSingh9" target="_blank">
    <i class="fa fa-facebook"></i>FaceBook
  </a>
</li>